$tablet-width: 768px;
$desktop-width: 992px;

@mixin desktopmenu {
    @media(min-width: #{$desktop-width}){
        @content;
    }
}

@mixin tablet {
  @media(min-width: #{$tablet-width}){
    @content;
  }
}

@mixin covaContainer() {

  display: block;
  max-width: 1352px;
  margin: 0 auto;

}
